.practice-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: "B612 Mono", monospace; */
  font-family: "IBM Plex Sans", sans-serif;
}

.flex {
  display: flex;
  width: 80%;
  margin: 10px;
  padding: 10px;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-right {
  justify-content: flex-end;
}

.flex-horizontal-center {
  justify-content: center;
  display: flex;
}

.flex-grid {
  display: flex;
}

.padding-top-bottom {
  padding-top: 200px;
  padding-bottom: 200px;
}

.col {
  flex: 1;
}

.row {
  flex-direction: row;
}

.eng-word {
  font-weight: 300;
  color: rgb(58, 58, 58);
}

.fa-volume-up {
  color: rgba(102, 102, 102, 0.507);
  padding: 5px;
}

.fa-volume-up:hover {
  color: rgba(56, 105, 238, 0.671);
}

.text-center {
  text-align: center;
}

.border-bottem {
  border-bottom: rgba(145, 140, 140, 0.349) solid 1px;
}

.width-90 {
  width: 90%;
}

.border {
  border: rgba(133, 133, 133, 0.267) solid 1px;
}

.border:hover {
  border: rgba(133, 133, 133, 0.267) solid 1px;
  box-shadow: 0 0 5px rgba(112, 112, 112, 0.486);
}

.margin-right {
  margin-right: 100px;
}

.margin-top-420 {
  margin-top: 420px;
}

.padding-10 {
  padding: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.padding {
  padding: 10px;
}

.height-800 {
  height: 850px;
}

.border-bold {
  border: 5px solid black;
}

.opacity {
  opacity: 0.7;
  object-fit: cover;
  /* position: absolute; */
}

.z-index-2 {
  z-index: 2;
}

.postion-relative {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}

h1 {
  color: #6e0303;
  padding-top: 275px;
  padding-left: 150px;
  font-family: "Cinzel", serif;
  position: absolute;
  z-index: 3;
  font-size: 70px;
}

.signup-text-home {
  color: #6e0303;
  padding-top: 355px;
  padding-left: 160px;
  font-family: "Cinzel", serif;
  position: absolute;
  z-index: 3;
  font-size: 30px;
}

.signup-btn {
  font-weight: 600;
  text-decoration: underline;
}

.signup-btn:hover {
  color: #a80404b9;
  cursor: pointer;
}

.color-red {
  color: #e65f40;
}

.menu-button {
  background-color: #e65f40;
  border: 3px solid #620a739c;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
  padding: 10px 0;
}

.menu-button:hover {
  border: 3px solid #620a7393;
  background-color: #ee8067;
  cursor: pointer;
}

.noto-sans {
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}

.margin-top-50 {
  margin-top: 50px;
}

.font-color-grey {
  color: rgba(148, 147, 147, 0.671);
}

.border-red {
  border: rgba(238, 79, 79, 0.808) solid 1px;
  box-shadow: 0 0 5px rgb(240, 115, 115);
}

.border-green {
  border: rgba(127, 240, 117, 0.753) solid 1px;
  box-shadow: 0 0 5px rgb(115, 240, 126);
}

.overflow-visible {
  overflow-x: auto;
  width: 30%;
  text-align: center;
}

.height-500 {
  height: 600px;
}
.padding-bottom-100 {
  padding: 250px 0px;
}
