.practice-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-family: "B612 Mono", monospace; */
  font-family: "IBM Plex Sans", sans-serif;
}

.flex {
  display: flex;
  width: 80%;
  margin: 10px;
  padding: 10px;
}

.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-horizontal-center {
  justify-content: center;
  display: flex;
}

.flex-grid {
  display: flex;
}

.padding-top-bottom {
  padding-top: 200px;
  padding-bottom: 200px;
}

.col {
  flex: 1;
}

.row {
  flex-direction: row;
}

.eng-word {
  font-weight: 300;
  color: rgb(58, 58, 58);
}

.fa-volume-up {
  color: rgba(102, 102, 102, 0.507);
  padding: 5px;
}

.fa-volume-up:hover {
  color: rgba(56, 105, 238, 0.671);
}

.text-center {
  text-align: center;
}

.border-bottem {
  border-bottom: rgba(145, 140, 140, 0.349) solid 1px;
}

.width-90 {
  width: 90%;
}

.border {
  border: rgba(122, 120, 120, 0.11) solid 1px;
}

.padding-10 {
  padding: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

.padding {
  padding: 10px;
}

.height-800 {
  height: 850px;
}

.border-bold {
  border: 5px solid black;
}

.opacity {
  opacity: 0.7;
  object-fit: cover;
  /* position: absolute; */
}

.z-index-2 {
  z-index: 2;
}

.postion-relative {
  position: relative;
}

.z-index-1 {
  z-index: 1;
}

h1 {
  color: #6e0303;
  padding-top: 250px;
  padding-left: 150px;
  font-family: "Cinzel", serif;
  position: absolute;
  z-index: 3;
  font-size: 70px;
}

.signup-text-home {
  color: #6e0303;
  padding-top: 330px;
  padding-left: 160px;
  font-family: "Cinzel", serif;
  position: absolute;
  z-index: 3;
  font-size: 30px;
}

.signup-btn {
  font-weight: 600;
  text-decoration: underline;
}

.signup-btn:hover {
  color: #a80404b9;
  cursor: pointer;
}
